[submodule ".submodules/alex"]
	path = .submodules/alex
	url = https://github.com/errata-ai/alex.git
[submodule ".submodules/google"]
	path = .submodules/google
	url = https://github.com/errata-ai/google.git
[submodule ".submodules/Microsoft"]
	path = .submodules/Microsoft
	url = https://github.com/errata-ai/Microsoft.git
[submodule ".submodules/proselint"]
	path = .submodules/proselint
	url = https://github.com/errata-ai/proselint.git
